
body{
	text-align: center;
	color: blue;
	background-color: rgb(0,177,176);
	width: 97%;
}

h1{
	color: white;
}

li{
	color: black;
	padding: 10px;
	margin: 5px;
	list-style: none;
	text-align: left;
	width: 50%;
	background-color: whitesmoke;
	position: relative;
	left: 20%;


}


button{
	text-align: center;
	color: white;
	background-color: green;
	border-color: green;
	padding: 10px;
}

input{
	padding: 10px;
}

#completed{
	opacity: 0.7;
	color: black;
	text-decoration: line-through;
}

#close{
    position: absolute;
    right: -15px;
    top: -11px;
    padding: 12px 16px 12px 16px;
}

ul{
	padding: 10px;
	margin: 10px;
}

footer {
	color: white;
	position: relative;
}